.page {
  width: 100vw;
  height: 100vh;
  padding-top: 300px;
}

.form {
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  
}

.input {
  border: 1px solid black;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.result {
  color: white;
  font-size: 14px;
  text-align: center;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,50%);
  border-radius: 5px;
}

.errmessage {
  font-weight: bold;
}